@model IEnumerable<CodeFirstApproach.Models.Category>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
            
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.CategoryId }) |
            @Html.ActionLink("Details", "Details", new { id = item.CategoryId })|            |
            @Html.ActionLink("Delete", "Delete", new { id = item.CategoryId })
        </td>
        <td>
             @if (item.IsActive == true)
            {
                @Html.ActionLink("Deactive", "Deactive", new
           {
               id = item.CategoryId,
               @class = " btn btn - danger btn - sm disabled"
           })


            }
            else
            {
                @Html.ActionLink("Active", "Active", new
           {
               id = item.CategoryId,
               @class = " btn btn - success ", @name="Checked"
           })
            }
        </td>
    </tr>
}

</table>
